.container_curriculo {
    width: 60%;
    background-color: rgba(179, 178, 178, 0.885);
    height: auto;
    border: 1px solid rgba(179, 178, 178, 0.885);
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    padding: 35px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.5);
}

.curriculo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerTxt1 {
    margin-bottom: 0;
}

.headerTxt2 {
    margin: 0;
    font-size: 15px;
}

.headerTxt3 {
    margin-top: 0;
    font-size: 15px;
}

.resumoTxt {
    text-align: left;
    font-size: 15px;
}

.experieciaTxt {
    margin: 5px;
    font-size: 15px;
    text-align: left;
}

.habilidadesTxt {
    margin: 5px;
    font-size: 15px;
    text-align: left;
}

.idiomaTxt {
    font-size: 15px;
    text-align: left;
}

.linksTxt {
    font-size: 15px;
    text-align: center;
}